# Variables

In [1]:
# Create variables
company_name = "Frankfurter Finance"
years_in_business = 23
hourly_wage = 65.40
expert_status = True

# Print the variables
print(company_name)
print(years_in_business)
print(hourly_wage)
print(expert_status)

Frankfurter Finance
23
65.4
True

In [40]:
company_name

'Frankfurter Finance'

In [2]:
# Prints the data type of each declared variable
print("The data type of variable title is", type(company_name))
print("The data type of variable years is", type(years_in_business))
print("The data type of variable hourly_wage is", type(hourly_wage))
print("The data type of variable expert_status is", type(expert_status))

The data type of variable title is <class 'str'>
The data type of variable years is <class 'int'>
The data type of variable hourly_wage is <class 'float'>
The data type of variable expert_status is <class 'bool'>

In [44]:
# Using variable names in calculations
total_miles = 257
gallons_gas = 7.2
miles_per_gallon = total_miles / gallons_gas
# print(miles_per_gallon)

# Updating variables using assignment
miles = 48
kilometers = 0.621371 * miles

total_miles = 10
# Substituting/formatting variable
message = f"The total kilometers driven was: {kilometers}"
print(message)

The total kilometers driven was: 29.825808000000002

In [45]:
# Two number values will be added
transaction_1 = 11.75
transaction_2 = 14.99

total_transaction_cost = transaction_1 + transaction_2
print(total_transaction_cost)

26.740000000000002

In [51]:
# Two string values will be concatenated
first_name = "Michelle "
last_name = "Jones"

full_name = first_name + last_name
print(full_name)
print("My name is " + first_name                   + last_name + ".")

Michelle Jones
My name is Michelle Jones.

In [6]:
# Variable naming conventions
# Bad Example
mpg = 24

# Better Example
miles_per_gallon = 24

## Percent

In [54]:
# Percent Increase Activity

# Increase = Current Price - Original Price
# Percent Increase = Increase / Original x 100

# Create float variable for original_price
original_price = 198.87

# Create float variable for current_price
current_price = 254.32

# Calculate difference between current_price and original_price
increase = current_price - original_price

# Calculate percent increase
percent_increase = (increase / original_price) * 100

# Print original_price
print(f"Apple's original stock price was ${original_price}.")

# Print current_price
print(f"Apple's current stock price is ${current_price}.")

# Print percent increase
print(f"Apple's stock price increased by {percent_increase:.0f}%.")

Apple's original stock price was $198.87.
Apple's current stock price is $254.32.
Apple's stock price increased by 28%.

## Lists

In [8]:
# A list in Python is a collection of ordered elements or values, separated by commas, 
# with an index of "zero" for the first element.

# Index: 0 = "green", 1 = "blue", 2 = "red", 3 = "purple"
color_hats = ["green", "blue", "red", "purple"]


# Lists commonly hold values of the same data type or different data types.
# Lists can even hold other lists!

my_favorite_things = ["Chocolate", 9, ["beach", "mountains"], "breakfast_tacos"]

In [56]:
# Create a list of places where our class lives from slack responses.
print("We are a diverse group and come from everywhere...")
where_we_live = [
    "San Francisco, CA",
    "Conway, AR",
    "Orlando, FL",
    "Buffalo, NY",
    "Chicago, IL",
    "Edison, NJ",
    "Avondale, PA",
]
print(where_we_live)
print("---------------")

We are a diverse group and come from everywhere...
['San Francisco, CA', 'Conway, AR', 'Orlando, FL', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA']
---------------

In [59]:
where_we_live[2]

'Orlando, FL'

In [60]:
# Students should use the index of their hometown.
print("My hometown is at index...")
print(where_we_live[2])

# Students can check their work with the index method
print("My cities index is at...")
print(where_we_live)
print(where_we_live.index("Conway, AR"))
print("---------------")

My hometown is at index...
Orlando, FL
My cities index is at...
['San Francisco, CA', 'Conway, AR', 'Orlando, FL', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA']
1
---------------

In [65]:
# Set elements from index 2 to index 5 equal to some_of_our_places variable and print
print("We can access a portion of the list with a slice...")
some_of_our_places = where_we_live[2:-1]
print(some_of_our_places)
print("---------------")

We can access a portion of the list with a slice...
['Orlando, FL', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ']
---------------

In [62]:
# Print every other element
print("Printing every other city")
every_other_city = where_we_live[::3]
print(every_other_city)

Printing every other city
['San Francisco, CA', 'Buffalo, NY', 'Avondale, PA']

In [13]:
# Print the last element of the list
print("The last city is...")
last_city = where_we_live[-1]
print(last_city)

The last city is...
Avondale, PA

In [66]:
# Change a specified element within the list at the given index
print("Change the first element in the list...")
where_we_live[0] = "Las Vegas, NV"
print(where_we_live)

Change the first element in the list...
['Las Vegas, NV', 'Conway, AR', 'Orlando, FL', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA']

In [67]:
# Add an element to the end of the list
print("Adding a new place to the end of the list...")
where_we_live.append("Honolulu, HI")
print(where_we_live)

Adding a new place to the end of the list...
['Las Vegas, NV', 'Conway, AR', 'Orlando, FL', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA', 'Honolulu, HI']

In [68]:
# Add an element to the end of the list
print("Removing a new place to the end of the list...")
where_we_live.remove("Honolulu, HI")
print(where_we_live)

Removing a new place to the end of the list...
['Las Vegas, NV', 'Conway, AR', 'Orlando, FL', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA']

In [69]:
# Remove an element from the list based on the given index
print("Removing 'Orlando, FL' based off of its index")
florida_index = where_we_live.index("Orlando, FL")
where_we_live.pop(florida_index)
print(where_we_live)
print("---------------")

Removing 'Orlando, FL' based off of its index
['Las Vegas, NV', 'Conway, AR', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA']
---------------

In [70]:
# Calculate the number of elements within the list
print("Calculating the number of places...")
print(len(where_we_live))
print("---------------")

Calculating the number of places...
6
---------------

In [72]:
where_we_live.pop(1)

'Conway, AR'

In [73]:
where_we_live

['Las Vegas, NV', 'Buffalo, NY', 'Chicago, IL', 'Edison, NJ', 'Avondale, PA']

## List Manipulation

In [75]:
# Manipulating Lists

stock_tickers = ["AMZN", "CSCO", "FB", "GOOG", "INTC", "MSFT", "SQ", "TWTR", "WRK"]


# Update the ticker 'WRK' to 'WORK'
stock_tickers[8] = "WORK"
# Alternatively, you can use -1 to select the index of the last item in the list.
# stock_tickers[-1] = 'WORK'

print(stock_tickers)

['AMZN', 'CSCO', 'FB', 'GOOG', 'INTC', 'MSFT', 'SQ', 'TWTR', 'WORK']

In [76]:
# Add the ticker 'ZM' to the end of the stock_tickers list
stock_tickers.append("ZM")
print(stock_tickers)

['AMZN', 'CSCO', 'FB', 'GOOG', 'INTC', 'MSFT', 'SQ', 'TWTR', 'WORK', 'ZM']

In [77]:
# Add the ticker 'AAPL' to the beginning of the stock_tickers list.
# Add the ticker 'DELL' to it appears between 'CSCO' and 'FB'.
stock_tickers.insert(0, "AAPL")
print(stock_tickers)
stock_tickers.insert(3, "DELL")
print(stock_tickers)

['AAPL', 'AMZN', 'CSCO', 'FB', 'GOOG', 'INTC', 'MSFT', 'SQ', 'TWTR', 'WORK', 'ZM']
['AAPL', 'AMZN', 'CSCO', 'DELL', 'FB', 'GOOG', 'INTC', 'MSFT', 'SQ', 'TWTR', 'WORK', 'ZM']

In [24]:
# Remove the ticker 'INTC' from the stock_tickers list
stock_tickers.remove("INTC")
print(stock_tickers)

['AAPL', 'AMZN', 'CSCO', 'DELL', 'FB', 'GOOG', 'MSFT', 'SQ', 'TWTR', 'WORK', 'ZM']

In [25]:
# Remove the ticker 'SQ' from the list using the pop() method
stock_tickers.pop(7)
print(stock_tickers)

['AAPL', 'AMZN', 'CSCO', 'DELL', 'FB', 'GOOG', 'MSFT', 'TWTR', 'WORK', 'ZM']

In [26]:
# Slice a section of the list that inclues the tickers 'CSCO', 'DELL', 'FB', and 'GOOG'.
# Set this equal to a variable called stock_tickers_slice.
# Print the new variable to confirm your actions.
stock_tickers_slice = stock_tickers[2:6]
print(stock_tickers_slice)

['CSCO', 'DELL', 'FB', 'GOOG']

## Dictionaries

In [79]:
# Initialize a dictionary containing top traders for each month in 2019
top_traders_2019 = {"january": "Karen", "february": "Harold", "march": "Sam"}

print()
print(f"Dictionary: {top_traders_2019}")
print()

Dictionary: {'january': 'Karen', 'february': 'Harold', 'march': 'Sam'}

In [82]:
top_traders_2019['april']

KeyError: 'april'

In [83]:
# Initialize a dictionary
trading_pnl = {
    "title": "Trading Log",
    "03-18-2019": -224,
    "03-19-2019": 352,
    "03-20-2019": 252,
    "03-21-2019": 354,
    "03-22-2019": -544,
    "03-23-2019": -650,
    "03-24-2019": 56,
    "03-25-2019": 123,
    "03-26-2019": -43,
    "03-27-2019": 254,
    "03-28-2019": 325,
    "03-29-2019": -123,
    "03-30-2019": 47,
    "03-31-2019": 321,
    "04-01-2019": 123,
    "04-02-2019": 133,
    "04-03-2019": -151,
    "04-04-2019": 613,
    "04-05-2019": 232,
    "04-06-2019": -311,
}

In [84]:
# Print out dictionary, initial print() to serve as spacing between command line input
print()
print(f"Dictionary: {trading_pnl}")
print()

Dictionary: {'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

In [30]:
# Print out specific value of a key
print(f"03-31-2019: {trading_pnl['03-31-2019']}")
print()

03-31-2019: 321

In [31]:
# Add a new key-value pair
trading_pnl["04-07-2019"] = 413
print(trading_pnl)
print()

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, '04-07-2019': 413}

In [85]:
# Modify a key value
trading_pnl["04-07-2019"] = [542, 100]
print(trading_pnl)
print()

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, '04-07-2019': [542, 100]}

In [33]:
# Access a the value of a key using the get() method
print(trading_pnl.get("03-29-2019"))
print()

-123

In [34]:
# Delete a key-value pair
del trading_pnl["04-07-2019"]
print(trading_pnl)
print()

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

## Working with Dictionaries

In [35]:
# Working with Dictionaries

# Following is a Python Dictionary containing student loan information.
# Notice all keys are defined as strings, but the values are declared in a variety of data types.

student_loan_information_aj = {
    "student_name": "Amy Johnson",
    "university": "Yale",
    "academic_year": "2015_2016",
    "loan_amount": 45000,
    "duration_years": 10,
    "payments_started": False,
}

In [36]:
# Using the student_loan_information_aj dictionary provided, complete the following actions:

# Print the original 'student_loan_information_aj' dictionary
print("The original student loan profile", student_loan_information_aj)

The original student loan profile {'student_name': 'Amy Johnson', 'university': 'Yale', 'academic_year': '2015_2016', 'loan_amount': 45000, 'duration_years': 10, 'payments_started': False}

In [37]:
# Our student's name was spelled incorrectly.
# Update the value of the `student_name' key to `Amy Johnston`.
# Be sure to print the dictionary so that you know your changes are working.
student_loan_information_aj["student_name"] = "Amy Johnston"
print("The amended student loan profile:", student_loan_information_aj)

The amended student loan profile: {'student_name': 'Amy Johnston', 'university': 'Yale', 'academic_year': '2015_2016', 'loan_amount': 45000, 'duration_years': 10, 'payments_started': False}

In [38]:
# Every loan should have an interest rate associated with its information.
# Add a key called 'interest_rate' and assign it a value of 3.5 percent (or 0.035).
# Print the dictionary so that you know your changes are working.
student_loan_information_aj["interest_rate"] = 0.035
print("The amended student loan profile:", student_loan_information_aj)

The amended student loan profile: {'student_name': 'Amy Johnston', 'university': 'Yale', 'academic_year': '2015_2016', 'loan_amount': 45000, 'duration_years': 10, 'payments_started': False, 'interest_rate': 0.035}

In [39]:
# Reviewing the information, it appears that the key for 'loan_amount' has been spelled incorrectly.
# You will need to delete the existing key:value pair and add one with the correct spelling.
# You can use the same amount of 45000.
# Print the dictionary so that you know your changes are working.
del student_loan_information_aj["loan_amount"]
student_loan_information_aj["loan_amount"] = 45000
print(f"The amended student loan profile: {student_loan_information_aj}")

The amended student loan profile: {'student_name': 'Amy Johnston', 'university': 'Yale', 'academic_year': '2015_2016', 'duration_years': 10, 'payments_started': False, 'interest_rate': 0.035, 'loan_amount': 45000}